<div class="accordion" id="accordionExample">
  <div class="accordion-item">
    <h2 class="accordion-header" id="headingOne">
      <button
        class="accordion-button"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#collapseOne"
        aria-expanded="true"
        aria-controls="collapseOne"
      >
        School President
      </button>
    </h2>
    <div
      id="collapseOne"
      class="accordion-collapse collapse show"
      aria-labelledby="headingOne"
      data-bs-parent="#accordionExample"
    >
      <div class="accordion-body">
        <div class="vote row" *ngFor="let cadidate of ElegibleCadidates">
          <div
            class="col-md-6"
            *ngIf="cadidate.position === 'School President'"
          >
            <div class="card">
              <div class="container">
                <h1>{{ cadidate.student_name }}</h1>
                <p class="title">FOR</p>
                <p>{{ cadidate.position }}</p>
                <form #f="ngForm" (ngSubmit)="votePresident(f)">
                  <select name="voter" ngModel>
                    <option value="" disabled>select voter</option>
                    <option *ngFor="let voter of ElegibleVoters" [value]="voter._admission" >

                        {{ voter.student_name }}


                    </option>
                  </select>
                  <input type="text" class="form-control" hidden
                  name="cadidate_name"  [value]="cadidate._admission" [ngModel]="cadidate._admission">
                  <input type="text" class="form-control" hidden
                  name="position"  [value]="cadidate.position" [ngModel]="cadidate.position">
                  <p><button type="submit" class="voter-btn">Vote</button></p>
                </form>

              </div>
            </div>
            <div class="col-md-6">

            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="accordion-item">
      <h2 class="accordion-header" id="headingTwo">
        <button
          class="accordion-button collapsed"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseTwo"
          aria-expanded="false"
          aria-controls="collapseTwo"
        >
          School Camptain
        </button>
      </h2>
      <div
        id="collapseTwo"
        class="accordion-collapse collapse"
        aria-labelledby="headingTwo"
        data-bs-parent="#accordionExample"
      >
        <div class="accordion-body">
          <div class="row" *ngFor="let cadidate of ElegibleCadidates">
            <div
              class="col-md-6"
              *ngIf="cadidate.position === 'Sport Captain'"
            >
              <div class="card">
                <div class="container">
                  <h1>{{ cadidate.student_name }}</h1>
                  <p class="title">FOR</p>
                  <p>{{ cadidate.position }}</p>
                  <form #captain="ngForm" (ngSubmit)="voteschoolCaptain(captain)">
                    <select name="voter" ngModel>
                      <option value="" disabled>select voter</option>
                      <option *ngFor="let voter of ElegibleVoters" [value]="voter._admission">
                        {{ voter.student_name }}
                      </option>
                    </select>
                    <input type="text" class="form-control" hidden
                    name="cadidate_name"  [value]="cadidate._admission" [ngModel]="cadidate._admission">
                    <input type="text" class="form-control" hidden
                    name="position"  [value]="cadidate.position" [ngModel]="cadidate.position">
                    <p><button type="submit" class="voter-btn">Vote</button></p>
                  </form>
                </div>
              </div>
              <div class="col-md-6"></div>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
