
.table-responsive {
  width: 100%;
  overflow: auto;
}

table {
  border-collapse: collapse;
}

table thead tr {
  background: #e9edf2;
}

table thead th {
  padding: 1rem 0rem;
  text-align: left;
  color: #444;
  font-size: .9rem;
}

table thead th:first-child {
  padding-left: 1rem;
}

table tbody td {
  padding: 1rem 0rem;
  color: #444;
}

table tbody td:first-child {
  padding-left: 1rem;
  color: var(--main-color);
  font-weight: 600;
  font-size: .9rem;
}

table tbody tr {
  border-bottom: 1px solid #dee2e8;
}
.edit-icon , .delete_icon{
 cursor: pointer;
 color: green;
}

.delete_icon{
  cursor: pointer;
  color: red;
 }
