<input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header">
            <h3>JAMBO<span> <br> ACADEMY</span></h3>
        </div>

        <div class="side-content">
            <!-- <div class="profile">
                <div class="profile-img bg-img" style="background-image: url(img/3.jpeg)"></div>
                <h4>David Green</h4>
                <small>Art Director</small>
            </div> -->

            <div class="side-menu">
                <ul>
                    <li>
                       <a href="">
                            <small>Dashboard</small>
                        </a>
                    </li>
                    <li>
                      <a href="">
                           <small>Start Polls</small>
                       </a>
                   </li>
                    <li>
                       <a href="">
                            <small routerLink="add-cadidate">add cadidate</small>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
