<input type="checkbox" id="menu-toggle">
    <div class="sidebar">
        <div class="side-header" routerLink="/">
            <h3>JAMBO<span> <br> ACADEMY</span></h3>
        </div>

        <div class="side-content">


            <div class="side-menu">
                <ul>
                    <li>
                       <a routerLink="dashboard">
                            <small>Dashboard</small>
                        </a>
                    </li>
                    <li>
                      <a routerLink="addcadidate">
                           <small>Add Cadidate</small>
                       </a>
                   </li>

                   <li>
                    <a routerLink="view-cadidate">
                         <small>View Cadidate</small>
                     </a>
                 </li>
                 <li>
                  <a routerLink="Vote">
                       <small>Vote</small>
                   </a>
               </li>
               <li>
                <a routerLink="Dummy">
                     <small>GenerateUser Data</small>
                 </a>
             </li>

                </ul>
            </div>
        </div>
    </div>
