<div class="main-content">
  <main>
    <div class="page-header">
      <h1>Dashboard</h1>
    </div>
    <div class="page-content">
      <div class="analytics">
        <div class="card">
          <div class="card-head">
            <h2>{{ tatolStudents }}</h2>
            <span class="las la-user-friends"></span>
          </div>
          <div class="card-progress">
            <small>Total Students Registered</small>
            <div class="card-indicator">
              <div class="indicator one"style="width: 100%"></div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-head">
            <h2>{{firstYears.length}}</h2>
            <span class="las la-user-friends"></span>
          </div>
          <div class="card-progress">
            <small>First Years  {{firstYearsPercentage | number: '1.0-0'}} %</small>
            <div class="card-indicator">
              <div class="indicator two" [style.width.%]="firstYearsPercentage"></div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-head">
            <h2>{{SecondYears.length}}</h2>
            <span class="las la-user-friends"></span>
          </div>
          <div class="card-progress">
            <small>Second Years {{SecondYearspercenage | number: '1.0-0'}} %</small>
            <div class="card-indicator">
              <div class="indicator three"  [style.width.%]="SecondYearspercenage"></div>
            </div>
          </div>
        </div>

        <div class="card">
          <div class="card-head">
            <h2>{{TotalVotesCasted.length}}</h2>
            <span class="las la-user-friends"></span>
          </div>
          <div class="card-progress">
            <small>Total Votes Casted</small>
            <div class="card-indicator">
              <div class="indicator four" style="width: 90%"></div>
            </div>
          </div>
        </div>
      </div>
      <!--President Voters Analytics -->
      <div class="analytics">
        <div class="card" *ngFor="let president of presindentialCadidates">
          <div class="card-head">
            <h2>{{ tatolStudents }}</h2>
            <small>{{president.student_name}}</small>
            <!-- <span> {{president.student_name}}</span> -->
          </div>
          <div class="card-progress">
            <small>For {{president.position}}</small>
            <div class="card-indicator">
              <div class="indicator one"style="width: 100%"></div>
            </div>
          </div>
        </div>

        <!-- School Captain Votes Analytics -->

        <div class="card">
          <div class="card-head">
            <h2>{{SecondYears.length}}</h2>
            <span class="las la-user-friends"></span>
          </div>
          <div class="card-progress">
            <small>Second Years {{SecondYearspercenage | number: '1.0-0'}} %</small>
            <div class="card-indicator">
              <div class="indicator three"  [style.width.%]="SecondYearspercenage"></div>
            </div>
          </div>
        </div>


      </div>
      <div class="record-header">
        <div class="browse">
          <div *ngIf="display_studentRecord" class="dashboard_btn">
            <input type="search" placeholder="Search" class="record-search" [(ngModel)]="filteredString"/>
             <button  (click)="addCadidate()">Add Cadidate</button>
              <button  class="browse_item" (click)="resetVotes()">Reset Votes</button>
          </div>
        </div>
      </div>
      <ng-container *ngIf="display_studentRecord; then students_record; else add_cadidate">
      </ng-container>

      <ng-template #students_record>
        <div class="records table-responsive">
          <div>
            <table width="100%">
              <thead>
                <tr>
                  <th>Admission</th>
                  <th><span class="las la-sort"></span> Full Name</th>
                  <th><span class="las la-sort"></span> year</th>
                  <th><span class="las la-sort"></span> role</th>
                  <!-- <th><span class="las la-sort"></span> Password</th> -->
                  <th><span class="las la-sort"></span> Vote Status</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let student of student_array |filterPipe:filteredString">
                  <td>{{student._admission}}</td>
                  <td>
                    <div class="client">
                      <div class="client-info">
                        <h4>{{student.student_name}}</h4>
                      </div>
                    </div>
                  </td>
                  <td>{{student.year}}</td>
                  <td>{{student.role}}</td>
                  <!-- <td>{{student.password}}</td> -->
                  <td>
                    <div class="actions">
                     <td *ngIf="student.Is_voted"><p>Voted</p></td>
                     <td *ngIf="!student.Is_voted"><small [ngStyle]="{'color': 'red'}">Not Voted</small></td>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </ng-template>
      <ng-template #add_cadidate>
        <app-add-cadidate></app-add-cadidate>
      </ng-template>
    </div>
  </main>
</div>
