.auth-section{
  height: 100vh;
  /* width: 100%; */
 /* overflow-y: hidden; */
 overflow-x: hidden;
}
.auth-left{
  background-color: #FFFFFF;
  height: 100vh;
}
.auth-left h1{
  font-weight:800;
 margin-top: 1rem ;
 color: #6F8F9A;
}
.auth-left p{
  color: #6F8F9A;
  text-align: center;
  font-weight:400;
}
.auth-right{
  height: 100vh;
  background-color: #F1FAFF;
}
img{
  margin-top: 5rem;
}
.login-text , .register-text{
  color: #6F8F9A;
  font-weight: bold;
  /* border-bottom: solid .5px #6F8F9A; */
 cursor: pointer;
}
.auth-labels{
  margin-left: 1rem;

}
/* ------- */
.login-box {
  width: 360px;
  height: 280px;
  margin: auto;
  border-radius: 3px;
  background-color: white;
}

h1 {
  text-align: center;
  padding-top: 15px;
}

h4 {
  text-align: center;
}

form {
  width: 80%;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
}

form input {
  width: 100%;
  padding: 7px;
  border: none;
  border: 1px solid gray;
  border-radius: 6px;
  outline: none;
}
.subit-btn {
  width: 320px;
  height: 35px;
  margin-top: 20px;
  border: none;
  background-color: #49c1a2;
  color: white;
  font-size: 18px;
}
p {
  text-align: center;
  padding-top: 20px;
  font-size: 15px;
}
.para-2 {
  text-align: center;
  color: white;
  font-size: 15px;
  margin-top: -10px;
}
.para-2 a {
  color: #49c1a2;
}
/* media query.... */

@media only screen and (max-width: 600px) {
  .auth-right {
  display: none;
  }
}
